In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from scipy.stats import zscore
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from scipy.spatial.distance import pdist,squareform #distance computation
from scipy.cluster.hierarchy import linkage,dendrogram,cut_tree #building cluster

In [30]:
import os
os.chdir('C:/Users/ASHISH/Desktop/UNSUPERVISED\Walmart case study')
df1 = pd.read_csv('train.csv')
df2 = pd.read_excel('weather.xlsx')
df3 = pd.read_csv('test.csv')

In [31]:
df1.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [32]:
df2.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,-3,-6,-9,-16,-17,-19,54,...,1023,1015,16,16,16,37,18,60,0,NaN
1,2009,Jan,2,1,-2,-5,-3,-7,-17,78,...,1012,1007,16,13,2,27,10,48,T,Snow
2,2009,Jan,3,3,1,-2,-5,-9,-13,72,...,1015,1008,16,16,16,27,16,42,T,NaN
3,2009,Jan,4,6,1,-4,-10,-12,-13,55,...,1017,1015,16,16,16,32,12,40,0,NaN
4,2009,Jan,5,6,5,3,-1,-5,-16,62,...,1014,1013,16,16,16,23,11,34,T,NaN

In [36]:
 df3.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2015      1   WomenClothing                        NaN
1  2015      1     MenClothing                        NaN
2  2015      1   OtherClothing                        NaN
3  2015      2   WomenClothing                        NaN
4  2015      2     MenClothing                        NaN

In [34]:
df1

     Year  Month ProductCategory  Sales(In ThousandDollars)
0    2009      1   WomenClothing                     1755.0
1    2009      1     MenClothing                      524.0
2    2009      1   OtherClothing                      936.0
3    2009      2   WomenClothing                     1729.0
4    2009      2     MenClothing                      496.0
5    2009      2   OtherClothing                      859.0
6    2009      3   WomenClothing                     2256.0
7    2009      3     MenClothing                      542.0
8    2009      3   OtherClothing                      921.0
9    2009      4   WomenClothing                     2662.0
10   2009      4     MenClothing                      669.0
11   2009      4   OtherClothing                      914.0
12   2009      5   WomenClothing                     2732.0
13   2009      5     MenClothing                      650.0
14   2009      5   OtherClothing                      989.0
15   2009      6   WomenClothing                     2220.0
16   2009      6     MenClothing                      607.0
17   2009      6   OtherClothing                      932.0
18   2009      7   WomenClothing                     2164.0
19   2009      7     MenClothing                      575.0
20   2009      7   OtherClothing                      901.0
21   2009      8   WomenClothing                     2371.0
22   2009      8     MenClothing                      551.0
23   2009      8   OtherClothing                      865.0
24   2009      9   WomenClothing                     2421.0
25   2009      9     MenClothing                      579.0
26   2009      9   OtherClothing                      819.0
27   2009     10   WomenClothing                     2579.0
28   2009     10     MenClothing                      610.0
29   2009     10   OtherClothing                      914.0
..    ...    ...             ...                        ...
186  2014      3   WomenClothing                     4268.0
187  2014      3     MenClothing                      702.0
188  2014      3   OtherClothing                     1293.0
189  2014      4   WomenClothing                     4223.0
190  2014      4     MenClothing                      785.0
191  2014      4   OtherClothing                     1196.0
192  2014      5   WomenClothing                     4421.0
193  2014      5     MenClothing                      801.0
194  2014      5   OtherClothing                     1257.0
195  2014      6   WomenClothing                     3905.0
196  2014      6     MenClothing                      702.0
197  2014      6   OtherClothing                        NaN
198  2014      7   WomenClothing                     3733.0
199  2014      7     MenClothing                      655.0
200  2014      7   OtherClothing                     1175.0
201  2014      8   WomenClothing                     4067.0
202  2014      8     MenClothing                      692.0
203  2014      8   OtherClothing                     1337.0
204  2014      9   WomenClothing                     4481.0
205  2014      9     MenClothing                        NaN
206  2014      9   OtherClothing                     1056.0
207  2014     10   WomenClothing                     4434.0
208  2014     10     MenClothing                      757.0
209  2014     10   OtherClothing                     1153.0
210  2014     11   WomenClothing                     4525.0
211  2014     11     MenClothing                      803.0
212  2014     11   OtherClothing                     1468.0
213  2014     12   WomenClothing                     5664.0
214  2014     12     MenClothing                     1070.0
215  2014     12   OtherClothing                     1967.0

[216 rows x 4 columns]

In [35]:
df2

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,-3,-6,-9,-16,-17,-19,54,...,1023,1015,16,16,16,37,18,60,0,NaN
1,2009,Jan,2,1,-2,-5,-3,-7,-17,78,...,1012,1007,16,13,2,27,10,48,T,Snow
2,2009,Jan,3,3,1,-2,-5,-9,-13,72,...,1015,1008,16,16,16,27,16,42,T,NaN
3,2009,Jan,4,6,1,-4,-10,-12,-13,55,...,1017,1015,16,16,16,32,12,40,0,NaN
4,2009,Jan,5,6,5,3,-1,-5,-16,62,...,1014,1013,16,16,16,23,11,34,T,NaN
5,2009,Jan,6,3,2,-1,-2,-11,-18,85,...,1015,1009,16,14,6,24,11,29,2.03,Rain
6,2009,Jan,7,3,2,-1,2,1,-2,96,...,994,986,16,8,3,40,17,52,30.23,Rain
7,2009,Jan,8,3,1,-2,0,-6,-9,82,...,997,989,16,16,16,34,18,50,0,NaN
8,2009,Jan,9,0,-2,-3,-10,-11,-12,58,...,1016,1006,16,16,16,29,16,47,0,NaN
9,2009,Jan,10,-1,-3,-5,-3,-7,-12,88,...,1022,1012,16,8,1,26,11,39,3.56,"Fog , Rain , Snow"
10,2009,Jan,11,-1,-2,-4,-2,-5,-9,92,...,1011,1007,16,13,5,29,11,35,4.83,Rain
11,2009,Jan,12,1,-3,-6,-9,-10,-11,77,...,1022,1015,16,16,16,23,10,32,0,NaN
12,2009,Jan,13,5,2,-2,-1,-4,-9,70,...,1015,1007,16,16,16,24,9,34,0,NaN
13,2009,Jan,14,2,-3,-9,-3,-16,-20,70,...,1017,1006,16,16,14,32,14,47,0,NaN
14,2009,Jan,15,-6,-7,-9,-10,-13,-18,84,...,1023,1019,16,9,0,26,12,35,1.27,Snow
15,2009,Jan,16,-9,-11,-13,-16,-20,-22,59,...,1032,1029,16,16,16,24,15,35,0,NaN
16,2009,Jan,17,-6,-10,-14,-13,-19,-22,60,...,1031,1025,16,16,16,26,9,40,0,NaN
17,2009,Jan,18,2,-2,-6,-1,-4,-12,100,...,1013,1006,16,7,1,19,9,27,4.57,"Fog , Snow"
18,2009,Jan,19,1,-1,-3,-2,-3,-6,92,...,1005,1003,16,7,1,14,4,21,4.57,"Fog , Snow"
19,2009,Jan,20,-2,-4,-7,-7,-11,-13,81,...,1005,1003,16,16,14,24,10,35,0,NaN
20,2009,Jan,21,-3,-6,-8,-13,-14,-17,67,...,1012,1009,16,16,16,26,13,32,0,NaN
21,2009,Jan,22,3,-2,-7,-7,-10,-13,62,...,1015,1014,16,16,16,24,11,37,0,NaN
22,2009,Jan,23,8,4,-1,-1,-5,-9,66,...,1013,1006,16,16,11,26,8,40,0,NaN
23,2009,Jan,24,8,0,-8,-1,-12,-20,58,...,1017,1006,16,16,16,35,18,56,0,NaN
24,2009,Jan,25,-3,-7,-11,-13,-17,-19,55,...,1027,1025,16,16,16,23,10,32,0,NaN
25,2009,Jan,26,-2,-4,-7,-13,-15,-17,57,...,1029,1028,16,16,16,16,8,23,0,NaN
26,2009,Jan,27,-2,-3,-4,-11,-14,-17,55,...,1031,1029,16,16,16,21,7,26,0,NaN
27,2009,Jan,28,5,1,-4,4,-1,-11,100,...,1012,999,16,5,1,34,15,52,24.64,"Fog , Rain , Snow"
28,2009,Jan,29,2,-1,-3,-7,-9,-11,59,...,1013,1008,16,16,16,34,14,52,0,NaN
29,2009,Jan,30,2,-1,-3,-4,-7,-11,69,...,1012,1010,16,14,8,26,11,40,T,Snow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,2009,Dec,2,13,9,5,13,7,-1,93,...,1016,1006,16,13,3,26,8,40,11.43,Rain
336,2009,Dec,3,19,15,11,16,10,1,100,...,1000,993,16,12,3,26,17,56,18.54,Rain
337,2009,Dec,4,11,9,7,2,-1,-2,70,...,1020,1018,16,16,16,19,9,24,0,NaN
338,2009,Dec,5,7,4,1,2,0,-3,100,...,1015,1011,16,11,3,26,12,39,16.26,"Rain , Snow"
339,2009,Dec,6,3,2,1,0,-5,-7,82,...,1022,1013,16,16,16,26,12,37,0,NaN
340,2009,Dec,7,4,2,0,-2,-4,-6,75,...,1024,1021,16,16,14,21,7,29,0,NaN
341,2009,Dec,8,7,4,1,-3,-4,-5,75,...,1025,1022,16,16,14,23,12,32,T,NaN
342,2009,Dec,9,12,6,1,9,5,-1,100,...,1002,988,16,7,2,32,13,48,37.59,"Rain , Snow"
343,2009,Dec,10,8,3,-3,0,-7,-11,71,...,1002,995,16,16,16,27,19,52,0,NaN
344,2009,Dec,11,-2,-4,-6,-14,-16,-16,45,...,1021,1017,16,16,16,39,20,58,0,NaN
345,2009,Dec,12,3,-1,-4,-10,-12,-13,50,...,1032,1027,16,16,16,27,12,37,0,NaN
346,2009,Dec,13,11,6,1,10,3,-11,100,...,1018,1010,16,9,3,26,10,35,24.13,Rain
347,2009,Dec,14,8,6,4,3,1,0,82,...,1017,1013,16,16,16,23,9,37,0,NaN
348,2009,Dec,15,11,8,6,6,3,-2,92,...,1013,1012,16,15,10,32,11,42,0,NaN
349,2009,Dec,16,6,2,-2,-3,-10,-13,57,...,1022,1017,16,16,16,27,18,40,0,NaN
350,2009,Dec,17,-1,-3,-7,-11,-13,-15,52,...,1025,1023,16,16,16,35,19,52,0,NaN
351,2009,Dec,18,-1,-5,-9,-13,-16,-18,61,...,1023,1017,16,16,16,23,9,27,0,NaN
352,2009,Dec,19,-1,-3,-6,-7,-12,-21,92,...,1007,1002,16,7,0,34,17,50,15.49,"Fog , Snow"
353,2009,Dec,20,1,-2,-6,-7,-9,-14,92,...,1006,1002,16,10,0,34,16,53,3.3,"Fog , Snow"
354,2009,Dec,21,2,0,-2,-7,-8,-9,69,...,1012,1011,16,16,16,35,17,56,0,NaN
355,2009,Dec,22,2,-1,-5,-8,-9,-16,63,...,1019,1015,16,16,16,35,15,47,0,NaN
356,2009,Dec,23,-1,-4,-7,-9,-12,-13,63,...,1022,1020,16,16,16,27,16,40,0,NaN
357,2009,Dec,24,4,0,-4,-3,-6,-10,69,...,1028,1023,16,16,16,24,9,42,0,NaN
358,2009,Dec,25,3,2,1,2,-1,-3,100,...,1028,1025,16,14,4,32,15,48,6.1,Rain
359,2009,Dec,26,12,8,3,11,6,2,100,...,1019,1012,16,6,1,34,20,48,37.59,Rain
360,2009,Dec,27,13,9,4,12,5,-4,100,...,1010,1008,16,11,2,26,12,47,8.38,Rain
361,2009,Dec,28,6,3,-1,1,-6,-10,73,...,1004,1002,16,16,16,29,14,47,0,NaN
362,2009,Dec,29,-1,-4,-9,-8,-16,-19,58,...,1016,1004,16,16,16,47,23,64,T,NaN
363,2009,Dec,30,0,-3,-7,-10,-12,-15,62,...,1029,1026,16,16,16,23,9,35,0,NaN
364,2009,Dec,31,2,0,-2,0,-3,-9,96,...,1022,1016,16,8,0,21,6,27,5.84,"Fog , Snow"

In [7]:
df1.shape

(216, 4)

In [8]:
df2.shape

(365, 23)

In [9]:
df1.dtypes

Year                           int64
Month                          int64
ProductCategory               object
Sales(In ThousandDollars)    float64
dtype: object

In [10]:
df2.dtypes

Year                            int64
Month                          object
Day                             int64
Temp high (°C)                  int64
Temp avg (°C)                   int64
Temp low (°C)                   int64
Dew Point high (°C)             int64
Dew Point avg (°C)              int64
Dew Point low (°C)              int64
Humidity (%) high               int64
Humidity (%) avg                int64
Humidity (%) low                int64
Sea Level Press. (hPa) high     int64
Sea Level Press. (hPa) avg      int64
Sea Level Press. (hPa) low      int64
Visibility (km) high            int64
Visibility (km) avg             int64
Visibility (km) low             int64
Wind (km/h) low                object
Wind (km/h) avg                object
Wind (km/h) high               object
Precip. (mm) sum               object
WeatherEvent                   object
dtype: object